<body>
<h1>Enter a New  Recipe:</h1>
    <form method="POST" action="/recipes">
        Name:<input type="text" id="name" name="name"><br><br>
        Cook Time:<input type="text" id="cook_time" name="cook_time"><br><br>
        Ingredients:<input type="text" id="ingredients" name="ingredients"><nr><br>
    <input id="submit" type="submit" name="submit"><br><br>
    </form>
</body>